body {
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 180px;
}

.header .logo {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 24px;
}

.header .links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  font-size: 16px;
}

a {
  color: #cfd2d7;
  text-decoration: none;
}

.main {
    background-color: #1F2937;
    display: flex;
    padding: 100px 180px;
    gap: 10px;
    justify-content: space-evenly;
}

.main .hero {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.main .text {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 15px;
}

.main .button {
    color: #FFFFFF;
    background-color: #3b82f6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    padding: 10px;
    font-weight: bolder;
    border-radius: 15px;
}

.main .img-container img {
    width: 420px;
    height: auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.info-container .title {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 32px;
}

.info-container .info {
    display: flex;
    padding: 50px;
    gap: 50px;
}

.info-container .text {
    text-align: center;
    color: rgb(68, 70, 73);
    font-size: 18px;
}

.one img, .two img, .three img, .four img {
    width: 180px;
    height: auto;
    border-radius: 20px;
}

.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 200px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 300px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    padding:8px;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    flex: auto;
}

.credit {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    display:flex;
    flex-direction: row;
    flex: 1 1 100%;
    justify-content: end;
    margin-top: 0px;
    padding-right:60px;
}